<div class="px-3">
  <nz-breadcrumb nzSeparator=">" class="py-3">
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/staff']">Staff Management
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/staff']">Staff List
    </nz-breadcrumb-item>
    <nz-breadcrumb-item><a class="text-primary fw-bold">Edit Staff</a></nz-breadcrumb-item>
  </nz-breadcrumb>
  <h4>Edit Staff</h4>
  <ng-container *ngIf="staffData">
    <app-staff-form [readonly]="false" [staffData]="staffData" [edit]="true"></app-staff-form>
  </ng-container>
</div>
